body {
    font-family: Arial;
    max-width: 700px;
    margin: 40px auto;
    background: #f4f4f4;
    padding: 20px;
}

textarea {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    padding: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    background: #6200ea;
    border: none;
    color: white;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
