<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detector de Texto: IA vs Estudiante</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Clasificador de textos</h1>
    <p>Escribe un texto y el sistema determinará si fue generado por IA o por un estudiante.</p>

    <form id="predict-form">
        <textarea id="user_text" placeholder="Escribe tu texto aquí..."></textarea>
        <button type="submit">Analizar</button>
    </form>

    <p id="result"></p>
    <p id="prob-student"></p>
    <p id="prob-ai"></p>

    <script src="/static/script.js"></script>
</body>
</html>
